
label{
    display:inline-block;
    color: black;
    font-size: 25px;
   
}
.k{
    width: 400px;
    padding: 15px;
    
}
fieldset{
    text-align: center;
    border: solid 2px black;
    background: white;
    color: white;
}
body{
    background-image: url("../IMAGES/to..jfif");
}
#vb{
    background: red;
    color: white;
    width: 150px;
    margin-left: 1200px;
    
}
select{
    width: 425px;
    padding: 12px;
    font-size: 20px;
    line-height: 40px;
}
file{
    border: solid 2px black;
}
legend{
    color: red;
}

